.contact {
  background-color: var(--yellow);
}
.contact input,
.contact label {
  font-family: BlenderBold700;
  color: var(--black);
  font-size: 24px;
  outline: none;
}
.contact input {
  border: 4px solid var(--cyan);
}
.contact select {
  border: 4px solid var(--cyan);
}
.contact input.email:valid {
  border: 4px solid var(--cyan);
}
.contact input.email:invalid {
  border: 4px solid var(--red);
}

.contact textarea {
  font-family: BlenderBook400;
  color: var(--black);
  font-size: 18px;
  outline: none;
  border: 4px solid var(--white);
}
.contact textarea:focus {
  border: 4px solid var(--cyan);
}

.contact button {
  font-size: 24px;
}
