:root {
  --red: #fd2238;
  --dark-red: #db0d15;
  --yellow: #fcee0a;
  --cyan: #00f0ff;
  --black: #000;
  --white: #fff;
  --grey: #aaaaaa;
}

@font-face {
  font-family: BlenderBold700;
  font-weight: 700;
  src: url(./fonts/BlenderPro-Bold.woff);
}

@font-face {
  font-family: BlenderBook400;
  font-weight: 400;
  src: url(./fonts/BlenderPro-Book.woff);
}

@font-face {
  font-family: RefineryBold700;
  font-weight: 400;
  src: url(./fonts/refinery-25-bold.ttf);
}

.cp-btn-yellow {
  border-image: url(../images/cp-btn-yellow.svg) 0 20 fill;
  color: var(--yellow);
}
.cp-btn-cyan {
  border-image: url(../images/cp-btn-cyan.svg) 0 20 fill;
  color: var(--cyan);
}

.cp-btn {
  font-family: BlenderBold700;
  align-items: center;
  border-style: solid;
  border-width: 0 20px;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  min-width: 140px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  font-size: 16px;
}