.error-page {
  position: relative;
  /* overflow: hidden; */
}
.bg-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.error-page h1 {
  color: var(--dark-red);
}

.error-page p {
  color: var(--yellow);
}
